body {

  background-color: green;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 25px;
}



p {
  border: mediumturquoise 10px solid;
  color: #110099;
  padding: 10px;

}